* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1470px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.description {
  font-size: 18px;
  line-height: 1.67;
}
.btn {
  border-radius: 8px;
  background-color: #e55473;
  border: none;
  padding: 20px 43px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(229, 84, 115, 0.9);
}

/* Shared styles end  */

.hero {
  padding-top: 50px;
  background-color: rgba(229, 84, 115, 0.1);
}
.hero .left,
.hero .right {
  max-width: 50%;
}

.hero h1 {
  color: #272727;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.hero p {
  color: rgba(39, 39, 39, 0.6);
}

.hero .img-fluid {
  max-width: 635px;
}

footer {
  background-color: #111010;
  text-align: center;
  padding: 128px 15px;
  color: #fff;
}
footer .logo {
  font-size: 48px;
  font-weight: 900;
}

footer .logo-left {
  color: #e55473;
}

footer .description {
  max-width: 625px;
}

footer .copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
}
