* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}
.mt-32 {
  margin-top: 32px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1470px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.description {
  font-size: 18px;
  line-height: 1.67;
}
.btn {
  border-radius: 8px;
  background-color: #e55473;
  border: none;
  padding: 20px 43px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {
  background-color: rgb(229, 84, 115, 0.9);
}

.text-center {
  text-align: center;
}

/* Shared styles end  */

.hero {
  padding-top: 50px;
  background-color: rgba(229, 84, 115, 0.1);
}
.hero .left,
.hero .right {
  max-width: 50%;
}

.hero h1 {
  color: #272727;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.hero p {
  color: rgba(39, 39, 39, 0.6);
}

.hero .img-fluid {
  max-width: 635px;
}
.feature-flower {
  padding: 178px 0 128px;
}
.feature-flower h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 900;
}
.feature-flower p {
  color: rgba(39, 39, 39, 0.6);
  max-width: 594px;
  margin-bottom: 48px;
}
.feature-flower .flex {
  column-gap: 24px;
}

.feature-flower .image-container {
  height: 608px;
  padding-bottom: 70px;
}

.feature-flower .image-container img {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 70px 75px 0;
  height: 100%;
}

.feature-flower .image-container .first-image {
  padding-top: 110px;
}
.feature-flower .image-container .second-image {
  padding-top: 120px;
  padding-bottom: 80px;
}

.feature-flower .image-container a {
  display: inline-block;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}

footer {
  background-color: #111010;
  padding: 128px 15px;
  color: #fff;
}
footer .logo {
  font-size: 48px;
  font-weight: 900;
}

footer .logo-left {
  color: #e55473;
}

footer .description {
  max-width: 625px;
}

footer .copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
}
