* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
}

.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1470px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}
.description {
  font-size: 18px;
}

/* Shared styles end  */

footer {
  background-color: #111010;
  text-align: center;
  padding-top: 128px;
  padding-bottom: 128px;
  color: #fff;
}
footer .logo {
  font-size: 48px;
  font-weight: 900;
}

footer .logo-left {
  color: #e55473;
}

footer .description {
  max-width: 625px;
}

footer .copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
}
